<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Missions list</title>
    <script src="js/lib/jquery-1.11.2.js"></script>
    <script src="js/lib/handlebars-v1.3.0.js"></script>
    <script src="js/lib/ember.js"></script>
    <script src="js/lib/ember-data.js"></script>

    <link rel="stylesheet" href="css/style.css">

</head>

<body>
    <script type="text/x-handlebars" data-template-name="missions">
    <section id="missionapp">
        <header id="header">
            <h1>missions</h1>
            {{input type="text" id="new-mission" placeholder="Add new mission?" value=text action="createMission"}}
        </header>

        <section id="main">
            <ul id="mission-list">
                <ul id="mission-list">
                    {{#each mission in model itemController="mission"}}
                    <li {{bind-attr class="mission.isCompleted:completed mission.isEditing:editing" }}>

                        {{#if mission.isEditing}}

                        {{edit-mission value=mission.text focus-out="acceptChanges" insert-newline="acceptChanges"  class="edit"}}

                        {{else}} 
                        {{input type="checkbox" checked=mission.isCompleted class="toggle"}}

                        <label {{action "editMission" on="doubleClick" }}>{{mission.text}}</label>
                        <button {{action "removeMission"}} class="destroy"></button>
                        
                        {{/if}}
                    </li>
                    {{/each}}
                </ul>
            </ul>

            <input type="checkbox" id="toggle-all">
        </section>

        <footer id="footer" class="row">
            <div class="missionData">
                <strong>{{remaining}}</strong> Missions left
            </div>
            <div class="missionData">
                <strong>{{done}}</strong> Missions done
            </div>
            <div class="missionData">
                <strong>{{model.length}}</strong> Total
            </div>
        </footer>


    </section>

    </script>

    <script src="js/application.js"></script>
    <script src="js/router.js"></script>
    <!-- models -->
    <script src="js/models/mission.js"></script>
    <script src="js/controllers/MissionsController.js"></script>
    <script src="js/controllers/MissionController.js"></script>

    <!-- helpers -->
    <script src="js/helpers/MissionEditHelper.js"></script>

</body>

</html>